<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>音乐</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
</head>
<body>
    <div class="container">
        <div class="page-header">
            <h1><a href="/">我的音乐</a> <small>首页</small></h1>
        </div>
        <a href="./add" class="btn btn-success">添加歌曲</a>
        <div class="pull-right">
            <audio id="audio" src="../uploads/陈奕迅 - 富士山下.mp3" controls="true"></audio>
        </div>
        <!-- table -->
        <table class="table">
            <thead>
                <tr>
                    <th>编号</th>
                    <th>标题</th>
                    <th>歌手</th>
                    <th>海报</th>
                    <th>播放</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>
    </div>
    <script type="text/template" id="tpl">
        {{each list as value index}}
        <tr>
            <td>{{index+1}}</td>
            <td>{{value.title}}</td>
            <td>{{value.singer}}</td>
            <td>
                <img src="../uploads/{{value.img}}" alt="" width="100">
            </td>
            <td>
                <span data-music="{{value.music}}" class="glyphicon glyphicon-play"></span>
            </td>
            <td>
                <a href="/edit?id={{value.id}}">修改</a>
                <a href="#" data-id="{{value.id}}" class="remove">删除</a>
            </td>
        </tr>
        {{/each}}
    </script>
    <script src="../node_modules/art-template/dist/template.js"></script>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    <script>
        loadData()
        function loadData(){
            $.ajax({
                url:'/musicList',
                type:'get',
                dataType:'json',
                success:function(data){
                    //console.log(data)
                    $('#tbody').html(template('tpl',data))
                }
            })
        }

        $('body').on('click','.glyphicon-play',function(e){
            var music = $(this).data('music')
            $('#audio').attr('src','../uploads/'+music).attr('autoplay',true)//
        })

        $('body').on('click','.remove',function(e){
            if(window.confirm('确定要删除？')){
                var id = $(this).data('id')
                $.ajax({
                    url:'/remove',
                    type:'get',
                    data:{
                        id:id
                    },
                    dataType:'json',
                    success:function(data){
                        if(data.code === 1000){
                            loadData()
                        }else if(data.code === 1001){
                            window.alert('删除失败')
                        }
                    }
                })
            }
        })
    </script>

</body>
</html>